<link rel="stylesheet" href="css/add-form.css">

<div class="content-header">
    <h1>Регистрация компании</h1>
</div>

<div class="container company-reg">
    <h2>На ваш почтовый адрес отправлено письмо с подтверждением регистрации. Чтобы войти под указаным email адресом необходимо перейти по ссылке в письме.</h2>
</div>

