<div class="content-header">
    <h1>Все вакансии</h1>
</div>

<div class="container">
    <aside class="filters">
        
        <div class="filter-group">
            <span class="search-heading">Что ищем?</span>
            <input type="search" placeholder="Поиск...">
        </div>
        
        <div class="filter-group">
            <span class="search-heading">Где ищем?</span>
            <input type="search" placeholder="Поиск...">
        </div>

        <div class="filter-group">
            <span class="search-heading">Направление</span>
            <select name="" id="" class="filter-select">
                <option value="0">Выберите категорию</option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        
        <div class="filter-group">
            <span class="search-heading">Диапазон ЗП</span>
            <input type="search">
        </div>

        <div class="filter-group">
            <span class="search-heading">Занятость</span>

            <div class="input-filter mt-ios" style="font-size: 6px;">
                <input id="1" type="checkbox" style="background: none;">
                <label for="1"></label>
                <span>Полный день</span>
            </div>

            <div class="input-filter mt-ios" style="font-size: 6px;">
                <input id="2" type="checkbox" style="background: none;">
                <label for="2"></label>
                <span>Подработка</span>
            </div>

            <div class="input-filter mt-ios" style="font-size: 6px;">
                <input id="3" type="checkbox" style="background: none;">
                <label for="3"></label>
                <span>Стажировка</span>
            </div>

            <div class="input-filter mt-ios" style="font-size: 6px;">
                <input id="4" type="checkbox" style="background: none;">
                <label for="4"></label>
                <span>Проектная работа</span>
            </div>
        </div>

    </aside>
    <div class="card-wrapper vacancies">

    </div>
</div>
<div class="button-container">
    <button class="more">
        Загрузить еще
    </button>
</div>

<div class="content-header cta">
    <h1>
        Добавьте ваше резюме
        и откликайтесь на подходящие вакансии!
    </h1>
    <button>
        <a href="/user">Добавьте резюме</a>
    </button>
</div>

<script src="/js/vacancies.js"></script>