<link rel="stylesheet" href="/css/style.css">

<section class="login">
    <form action="/login" method="post" class="login-box">
        <h2>Вход</h2>

        {{#if err }}
        <div class="error-handler">{{ err }}</div>
        {{/if}}

        <input type="email" name="email" placeholder="Ваш e-mail">
        <input type="password" name="password" id="" placeholder="Ваш пароль">
        <button class="btn" type="submit">Войти</button>
        <span>Еще не зарегистрированы?</span>
        <div class="btn-sumbit">
            <a href="/signup" class="btn outline">Зарегистрироваться</a>
        </div>
        <a href="/"><img src="./media/logo.svg" alt="icon: logo"></a>
    </form>
</section>