    <div class="content-header">
        <h1>Регистрация компании</h1>
    </div>

    <div class="container" style="max-width: 1200px; text-align: center;">
        <h2>Ваша заявка на регистрацию компании "{{company.name}}" отправлена на обработку. Ожидайте подтверждения.</h2>
    </div>